.dogo{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.dogoImgContainer{
    width: 400px;
    height: 400px;
    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dogoBtn {
    margin: 25px;
}